# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives**
- list popular languages for data science
- list popular ;ibraries for data science
- add comments to code cells
- create markdown cells

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. Numpy

|Data Science Tools|
|------------------|
|1. Apache Hadoop|
|2. Spyder|
|3. SAS|

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
#this is a simple arithmetic expression to multiply then add intergers
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
   Yahya Mohamed